Flask==2.3.3
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.2.1
pytz==2025.2
pytest==7.4.2
pytest-cov==4.1.0
flake8==6.1.0
redis==5.0.1
python-dotenv==1.1.1
PyJWT==2.9.0